:root {
	--container: 1170px;
	--color-main: #ab7354;
	--color-heading: #3d4d65;
	--color-white: #ffffff;
	--color-background: #f2f2f2;
	--font-heading: "Open Sans", sans-serif;

	--b-font-main: "Open Sans", sans-serif;
	--b-txt: #556575;
	--b-link: #284182;
	--b-line: #f0f0f0;
	--b-bg-2: #f7f7f7;
	--b-btn-bg: var(--color-red);
}