:root {
	--container: 1170px;
	--color-main: #f0ae9c;
	--color-secondary: #ab7354;
	--color-heading: #1a1a1a;
	--font-heading: SVN-Gilroy, system-ui, sans-serif;

	--b-font-main: Inter, system-ui, sans-serif;
	--b-txt: #556575;
	--b-link: #284182;
	--b-line: #f0f0f0;
	--b-bg-2: #f7f7f7;
	--b-btn-bg: var(--color-red);
}