@import "mixins";
// @import "about-us/banner";

@import "components/archive";
@import "components/sidebar";
@import "components/pagination";

.not-found {
    position: relative;

    h2.page-title {
        text-align: center;
        font-family: var(--font-heading);
        font-size: 40px;
        margin: 0 0 20px;
    }

    p {
        text-align: center;
    }

    .search-form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        input {
            width: 90% !important;
            padding: 11px 15px;
        }

        button {
            width: 10%;
            padding: 11px 15px;
        }
    }
}