@import "components/shortcode";
.banner{
    position: relative;
    &__desktop{
        height: 400px;
        width: 100%;
        object-fit: cover;
        display: block;
        @media (max-width: 991px){
            display: none;
        }
    }
    &__mobile{
        display: none;
		height: 500px;
		object-fit: cover;
        @media (max-width: 991px){
            display: block;
        }
    }
    &__wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .tabs-nav{
            display: flex;
            list-style: none;
            padding: 0;
            gap: 10px;
            margin: 0;
            li {
                width: fit-content;
                       
                a {
                    background: var(--color-white);
                    border-radius: 4px 4px 0 0;
                    color: var(--color-heading);
                    display: block;
                    font-weight: 600;
                    padding: 10px 16px;
                    text-align: center;
                    text-decoration: none;
                }
                &.tab-active{
                    a {
                        background: var(--color-main);
                        color: var(--color-white);
                        cursor: default;
                    }
                } 
            }  
                
        } 
        
        .tabs-stage {
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
            background: var(--color-white);
            border-radius: 0 6px 6px 6px;
            border-top: 0;
            clear: both;
            padding: 24px 30px;
            position: relative;
            top: -1px;
        }
          
    }
}

.news {
	position: relative;
	padding: 0px 0 90px;

	h2 {
		font-family: var(--font-heading);
		font-size: 40px;
		text-align: center;
		margin: 0 0 40px;
		color: var(--color-heading);
		font-weight: 600;
        @media (max-width:768px) {
            font-size: 32px;
        }
	}

	&__wrap {
		position: relative;
		display: grid;
		gap: 20px 30px;
		grid-template-columns: repeat(4, 1fr);
        @media (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }
	}

	&__item {
		position: relative;
        @media (max-width:768px) {
            grid-area: auto !important;
        }
		.content {
			display: none;
            @media (max-width:768px) {
                display: none !important;
            }
			p {
				font-size: 16px;
				color: #4A4A4A;
				margin: 0 0 16px;
			}
		}

		&:nth-child(1) {
			grid-area: 1/1/2/2;
            @media (max-width:768px) {
                grid-area: 1/1/2/3 !important;
            }
            .content {
                
                @media (max-width:768px) {
                    display: block !important;
                }
            }

            .entry-content {
                h3 {
                   
                    @media (max-width:768px) {
                        font-size: 20px;
                    }
                }
            }
		}

		&:nth-child(2) {
			grid-area: 1/2/3/4;

			.content {
				display: block;
			}

			.entry-content {
				h3 {
					font-size: 24px;
					font-weight: 600;
                    @media (max-width:768px) {
                        font-size: 18px;
                    }
				}
			}
		}

		&:nth-child(3) {
			grid-area: 1/4/2/5;
		}

		&:nth-child(4) {
			grid-area: 2/1/3/2;
		}

		&:nth-child(5) {
			grid-area: 2/4/3/5;
		}

		.entry-thumbnail {
			position: relative;

			&::after {
				content: '';
				display: block;
				padding-bottom: 56%;
			}

			img {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.entry-content {
			h3 {
				font-family: var(--font-heading);
				font-size: 20px;
				font-weight: 600;
				line-height: 1.2;
				color: var(--color-heading);
				margin: 14px 0 12px;

				a {
					color: var(--color-heading);
					text-decoration: none;

					&:hover {
						color: var(--color-access);
					}
				}
			}
		}

		.entry-date {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			p {
				margin: 0;
				color: #7C818B;
				font-family: var(--font-heading);
				font-size: 14px;
				font-weight: 600;
			}

			.folder {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				border-right: 1px solid #ECF0F4;
				padding-right: 10px;

				svg {
					width: 16px;
					height: 16px;
					fill: #7C818B;
					margin-right: 5px;
				}
			}

			a {
				text-decoration: none;
				color: #7C818B;

				&:hover {
					color: var(--color-heading);
				}
			}
		}
	}
}

