.footer {
	background-color: var(--color-background);
	

	&__columns {
		display: flex;
		flex-wrap: nowrap;
		padding: 60px 0 30px 0;
	}

	&__left {
		width: 33.33%;

		.logo-ft {
			img {
				display: block;
				width: 100%;
				max-width: 200px;
			}
		}
		.social-icons {
			margin-top: 30px;
			font-size: 20px;
			gap: 12px;
			color: var(--color-heading);
			justify-content: flex-start;
			gap: 12px;
			a {
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid var(--color-main);
				border-radius: 50%;
				color: var(--color-main);
			}
			svg {
				display: block;
				width: 24px;
				height: 24px;
				fill:var(--color-main);
				path{
					fill:var(--color-main);
				}
			}
		}
	}

	&__right {
		width: 66.67%;

		&--top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			.contact-item {
				display: flex;
				align-items: center;
				gap: 16px;
				width: calc((100% - 32px) / 3);
				svg {
					width: 32px;
					height: 32px;
				}

				a {
					display: block;

					&:hover {
						text-decoration: none;
					}
				}

				.txt {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
				}

				.number {
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
		&--bottom{
			display: flex;
			gap: 16px;
			margin-top: 30px;
			.column-item{
				width: calc((100% - 32px) / 3);
				h3{
					font-size: 14px;
					line-height: 1.2;
					margin: 0 0 20px 0;
				}
				ul{
					list-style: none;
					padding: 0;
					li{
						margin-bottom: 12px;
						a{	
							font-size: 14px;
							line-height: 20px;
							color: var(--color-heading);
							&:hover{
								color: var(--color-main);
								text-decoration: none;
							}
						}
						
					}
				}
				.ff-t-container{
					position: relative;
					.ff-t-column-1{
						position: relative;
						width: 100%;
						flex-basis: 100% !important;
						.ff-el-form-control{
							padding: 16px 25% 16px 10px;
						}
					}
					.ff-t-column-2{
						position: absolute;
						flex-basis: 25% !important;
						right: 0;
						width: 25%;
						height: 100%;
						align-items: center;
    					justify-content: center;
						.ff-btn-submit{
							margin: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 12px;
							svg{

								path {
									fill: hsla(11, 100%, 62.2%, 1) !important;
								}
							} 
						}
					}
					.ff-el-group{
						margin: 0;
					}
				}
			}
		}

	}

	&__copyright {
		text-align: center;
		font-size: 14px;
		padding: 12px;
		.hr {
			display: block;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--color-main), rgba(255, 255, 255, 0));
			opacity: .1;
			height: 1px;
			border: none;
			margin-bottom: 15px;
		}
	}

	.social-button {
		position: fixed;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		min-width: 46px;

		@media (max-width: 767px) {
			top: 90%;
			transform: translateY(-90%);
		}

		&-content {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 16px;

			@media (max-width: 1110px) {
				width: 40px;
				height: 40px;
			}

			@media (max-width: 767px) {
				margin-top: 12px;
			}

			a {
				display: block;

			}

			img {
				display: block;
				-webkit-animation: rings 1s infinite ease-in-out;
				animation: rings 1s infinite ease-in-out;

				@media (max-width: 1110px) {
					width: 30px;
					height: 30px;
				}

				@media (max-width: 767px) {
					width: 20px;
					height: 20px;
				}
			}
		}

		.social-hotline {
			background-color: #FEC51A;
		}

		.social-mess {
			background-color: #0866FF;
		}

		.social-zalo {
			background-color: #009DFF;
		}

		.social-map {
			background-color: #FD003A;
		}
	}
}