.header {
    &__top {
        &__menubar{
            display: none;
            width: 10%;
            @media (max-width: 991px) {
               display: block;
            }
        }
        &--logo {
            width: 20%;
            @media (max-width: 991px) {
                width: 30%;
             }
            img {
                width: 100%;
                display: block;
            }
        }

        &--contact {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
            a {
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }

            .hotline {
                display: flex;
                align-items: center;
                gap: 10px;
                @media (max-width: 768px) {
                    display: none;
                }
                svg {
                    width: 24px;
                    height: 24px;
                    fill: var(--color-main);
                }

                span {
                    display: block;

                    &.txt {
                        font-weight: 600;
                        font-size: 12px;
                    }

                    &.number {
                        font-size: 14px;
                        color: var(--color-main);
                    }
                }
            }

            .register {
                font-size: 16px;
                line-height: 1.5;
                padding: 12px 16px;
                background: var(--color-main);
                color: var(--color-white);
                text-align: center;
                border-radius: 4px;
                margin-left: 24px;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    &__menu {
        border-top: 1px solid #e8e8e8;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
    }
}