.search-form {
	position: relative;

	input[type="text"] {
		display: block;
		padding: 20px 64px 20px 20px;
		height: 64px;
		border-radius: 0;
	}

	button {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 64px;
		background: none;

	}

	svg {
		fill: #4F556A;
		width: 24px;
		height: 24px;
	}
}