:focus {
	box-shadow: none;
}

.container {
	width: 100%;
	max-width: var(--container);
	margin: auto;
	padding: 0 15px;
}

.container-fluid {
	width: 100%;
	padding: 0 50px;

	@media (max-width:768px) {
		padding: 0 15px;
	}
}

body {
	max-width: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading);
	font-family: var(--font-heading);
}

svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}