.breadcrumbs{
    padding: 50px 0;
    h1{
        margin: 0;
        font-family: var(--font-heading);
        font-size: 32px;
        color: var(--color-heading);
        margin: 0 0 18px;
        font-weight: 600;
        text-transform: capitalize;
    }
}